.transition {
  &-appear {
    opacity: 0;
    &-active {
      opacity: 1;
      transition: opacity 500ms;
    }
  }
  &-enter {
    opacity: 0;
    &-active {
      opacity: 1;
      transition: opacity 500ms;
    }
  }
}