.text404 {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-top: 30px;
}

.link404 {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-top: 22px;
  span {
    text-decoration: underline;
  }
  span:hover {
    text-decoration: none;
  }
}

.img404 {
  text-align: center;
}